<html>
    <h1>Login page</h1>
    <form method='POST'>
        <p>Email :<input name='email'></p>
        <p>Password :<input name='password' type='password'></p>
        <input type='submit' value='login' formaction='http://localhost:4000/login'>
        <input type='submit' value='sign up' formaction='http://localhost:4000/signup'>
    </form>
</html>