<html>
    <div>
        <a href='http://localhost:4000/'>Home Page</a>
        <a href='http://localhost:4000/inbox'>Inbox</a>
        <a><%= email %></a>
        <a href='http://localhost:4000/logout'>Log out</a>
    </div>
</html>